-e .

Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.11.10
click==6.6
configparser==3.5.0
enum34==1.1.6
flake8==3.0.4
funcsigs==1.0.2
itsdangerous==0.24
mccabe==0.5.2
mock==2.0.0
pbr==1.10.0
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==3.0.0
requests==2.11.1
six==1.10.0
